@font-face {
    font-family: 'DroidSansRegular';
    src: url('DroidSans-webfont.eot');
    src: url('DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSans-webfont.woff') format('woff'),
         url('DroidSans-webfont.ttf') format('truetype'),
         url('DroidSans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DroidSansBold';
    src: url('DroidSans-Bold-webfont.eot');
    src: url('DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSans-Bold-webfont.woff') format('woff'),
         url('DroidSans-Bold-webfont.ttf') format('truetype'),
         url('DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('proximanova-regular-webfont.eot');
    src: url('proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-regular-webfont.woff') format('woff'),
         url('proximanova-regular-webfont.ttf') format('truetype'),
         url('proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novalight';
    src: url('proximanova-light-webfont.eot');
    src: url('proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-light-webfont.woff') format('woff'),
         url('proximanova-light-webfont.ttf') format('truetype'),
         url('proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novasemibold';
    src: url('proximanova-semibold-webfont.eot');
    src: url('proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-semibold-webfont.woff') format('woff'),
         url('proximanova-semibold-webfont.ttf') format('truetype'),
         url('proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'lauren_c._brownregular';
  src: url('laurencb-webfont.eot');
  src: url('laurencb-webfont.eot?#iefix') format('embedded-opentype'),
         url('laurencb-webfont.woff') format('woff'),
         url('laurencb-webfont.ttf') format('truetype'),
         url('laurencb-webfont.svg#lauren_c._brownregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
  /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(top, #00686B 0%, #011A1B 100%);
  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, #00686B 0%, #011A1B 100%);
  /* Opera */ 
  background-image: -o-linear-gradient(top, #00686B 0%, #011A1B 100%);
  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00686B), color-stop(1, #011A1B));
  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, #00686B 0%, #011A1B 100%);
  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to bottom, #00686B 0%, #011A1B 100%);
  background: #00686b url("../img/beakers_bg.jpg") repeat-x bottom left;
  background-attachment: fixed;
  background-position: center;
  font-family:"proxima_nova_rgregular";
}
#hip_hop_wrapper {
  width: 960px;
/*  position: relative; */
}
#left_bar {
  height: 100%;
  width: 10px;
  background: #000;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

::-moz-selection {
  background-color: #000;
  color: #ea5be1;
}
::selection {
  background-color: #000;
  color: #ea5be1;
}

h1 {
  float:left;
  background-image: url("../img/logo.png");
  cursor: pointer;
  repeat: no-repeat;
  width: 446px;
  height: 124px;
  margin-top: 0;
  margin-left: 5%;
  text-indent: 100%;
/*  text-indent: -9999px: */
  white-space: nowrap;
  overflow: hidden;
}

h1:hover {
  background-color: #000;
}

.portfolio-links ul {
  float:left;
  margin-left: -40px;
  margin-top: 10px;
}

.portfolio-links ul li, .portfolio-links a {
  display: block;
  font-family: 'lauren_c._brownregular';
  font-weight: 100;
  color: #9cd71d;  /* neon green */
  font-size: 22px;
  line-height: 24px;

  text-shadow: 1px 1px 1px #000;
  letter-spacing: 0.06em;

}

.portfolio-links a:hover {
  color: #b7f03b; /* brighter green */
  text-decoration: none;
  text-shadow: 1px 1px 1px #000;
}

#projects {
  clear: both;
  margin-top: 2%;
  margin-left: 5%;
}

#projects h2 {
  display: inline-block;
  font-family: 'lauren_c._brownregular';
  font-weight: 100;
  /* color: #b6d71d;  /* neon green */
  color: #9cd71d;  /* neon green */
  size: 42px;
  line-height: 30px;

  text-shadow: 1px 1px 1px #000;
  letter-spacing: 0.06em;

  background: #014547;
  padding-top: 0;
  padding-left: 7px;
  padding-right:7px;
  padding-bottom: 0;
  border-bottom: 2px solid #012f32;
  margin: 0;
}

#projects h2:hover {
  background: #012f32;
  color: #b7f03b; /* brighter green */
  border-bottom: 2px solid #000;
}

#projects p {
}
/** how to limit width? **/
/** we did it via adding styles to list-item instead of ol **/

#projects ol,li,a {
  font-family: 'DroidSansRegular';
  color: #b7e9e8;
  margin-left: 25px;
  font-size: 17px;
  letter-spacing: 0.05em;
  text-shadow: 1px 1px 1px #000;
  width: 100%;
}
#projects li:hover,a:hover {
  color: #5ad0cd;
  text-shadow: 3px 3px 11px #001d1f;
}

.individual {
}


.screenshot {
  width: 600px;
  position: absolute;
  top: 120px;
  left: 45%;
}



